<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu" />
        <link rel="stylesheet" href="index.css" />
        <title>Meet</title>
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <div id="content">
        <nav>
            <div class="nav-wrapper">

            </div>
        </nav>


        {{{body}}}

        </div>
        <div id="slide-out" class="side-nav fixed">
            <div id="top_nav">

            </div>
            <ul id="link_list" class="animated slideInLeft">

            </ul>
            <div id="bottom_nav">

            </div>
        </div>
    </body>
</html>
