<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <title>Meet</title>
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <div id="content">

        {{{body}}}

        </div>
        <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQwi7V3FhSUlktCXpeOD7xJUTprH22uYM&callback=initMap" async defer></script>-->
    </body>
</html>
