<div>
    <!--<div id="cover"></div>-->
    <div id="login_content">
        <div id="right">
            <div id="loginForm">
                <form id="login_form" action="/loginAccount" method="post">
                    <input name="username" id="username" type="text" class="validate">
                    <label class="left" for="first_name">Username:</label>
                    <input name="password" id="password" type="password" class="validate">
                    <label class="left" for="first_name">Password:</label>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
            <div id="login_buttons">
                <a class="waves-effect waves-light btn disabled" id="facebook">Facebook</a>
                <a class="waves-effect waves-light btn disabled" id="google">Google</a>
            </div>
        </div>
        <div id="left">
           <div id="Logo">
           </div>
        </div>
    </div>
</div>
