<link rel="stylesheet" href="CSS/index.css" />
<div id="search_bar">
    <div id="search">
        <i class="fa fa-search" id="search_icon"></i>
        <input type="text" id="searchBar" name="search">
    </div>
    <div id="profile">
        <p id="welcome">Welcome {{name}}</p>
    </div>
</div>
<div id="map"></div>
<div id="timer">
</div>
<div id="side_nav">
    <div id="side_nav_top">
        <h1 id="title">Meet</h1>
        <button id="create">Create a new group</button>
    </div>
</div>
