<div id="index_content">
    <nav>
        <div class="nav-wrapper">
            <i class="material-icons prefix">search</i>
            <input id="icon_prefix" type="text" class="validate">
        </div>
    </nav>
    <div id="map"></div>
</div>
<div id="side_nav" class="side-nav fixed">
        <div id="top_nav">

        </div>
        <ul id="link_list" class="animated slideInLeft">

        </ul>
        <div id="bottom_nav">

        </div>
</div>
