<link rel="stylesheet" href="CSS/index.css" />
<div id="search_bar">
    <i id="menu" class="fa fa-bars"></i>
    <div id="search">
        <i class="fa fa-search" id="search_icon"></i>
        <form method="post" action="/search">
            <input type="text" id="searchBar" name="search">
        </form>
    </div>
    <div id="profile">
        <p id="welcome">Welcome, {{name}}</p>
    </div>
</div>
<div id="map"></div>
<div id="timer">
    <h1>Timer goes here</h1>
</div>
<div id="side_nav">
    <div id="side_nav_title">
        <h1>Meet</h1>
    </div>
    <div id="uline"></div>
    <button>Create Group</button>
</div>
<script src="javascript/script.js"></script>
