<link rel="stylesheet" href="CSS/login.css" />
<div>
    <!--<div id="cover"></div>-->
    <div id="login_content">
        <div id="right">
                <h3> Login to Meet:  </h3>
                <form action="/loginAccount" method="post">
                    <input type="text" placeholder="Username" name="username" />
                    <input type="password" id="password" placeholder="Password" name="password" />
                    <button type="submit" class="button" value="submit">Login</button>
                </form>
                <button class="button" onclick="location.href='/register';">Register</button>
        </div>
        <div id="left">
           <div id="Logo">
              <h3>Welcome to Meet</h3>
              <p>Or login with one of these accounts: </p>
              <button id="facebook" onclick="location.href='/fbLogin';">Facebook</button>
              <button id="twitter">Twitter</button>
              <button id="google">Google</button>
           </div>
        </div>
    </div>
</div>
