<div>
    <div id="cover"></div>
    <div id="login_content">
            <div id="login_buttons">
                <a class="waves-effect waves-light btn" id="facebook">Facebook</a>
                <a class="waves-effect waves-light btn" id="google">Google</a>
            </div>
        </div>
    <div id="map"></div>
</div>
