<body>
    <div class='login_container'>
        <div class="local">
            <input type="text" placeholder="Email" />
            <input type="password" placeholder="Password"/>
            <div>Login</div>
        </div>
        <hr>
        <div class="social">
            <p>Or login with one of these:</p>
            <div class="social_login" id="facebook">facebook</div>
        </div>
    </div>
</body>
