<link rel="stylesheet" href="CSS/register.css" />
<div id="wrapper">
    <div id="signup_contents">
        <p id="title"> Signup for Meet: </p>
        {{#if errors}}
            <ul>
                {{ #each errors }}
                    <li>{{this.msg}}<li>
                {{ /each }}
            </ul>
        {{ /if }}
        <div id="sform">
            <form id="signup_form" method="post" action="/signup">
                <input type="text" id="username" class="block input" name="username" placeholder="Username" />
                <input type="text" id="email" class="block input" name="email" placeholder="Email" />
                <input type="password" id="password" class="block input" name="password" placeholder="Password" />
                <input type="text" id="first_name" class="block input" name="first_name" placeholder="First Name" />
                <input type="text" id="last_name" class="block input" name="last_name" placeholder="Last Name" />
                <button type="submit" id="register_button" class="button" value="submit">Signup</button>
            </form>
        </div>
    </div>
</div>
