#map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99;
}

#cover {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: #0A4A59;
    opacity: 0.85;
}

#login_contents {
    text-align: center;
    position: fixed;
    z-index: 100000;
}

#facebook {
    background-color: #3B5998;
}

#google {
    background-color: #D50F25;
}

#index_content {
    padding-left: 300px;
}

#side_nav {
    background-color: #0A4A59;
}

nav {
    background-color: #0A4A59;
}

#search {
    padding-left: 5%;
    width: 50%;
}
