body {
    text-align: center;
    background: #2980b9;
    background: -webkit-linear-gradient(left top, #2980b9, #9b59b6);
    background: -o-linear-gradient(bottom right, #2980b9, #9b59b6);
    background: -moz-linear-gradient(bottom right, #2980b9, #9b59b6);
    background: linear-gradient(to bottom right, #2980b9, #9b59b6);
    font-family: ubuntu;
}

#login_content {
    background-color: #9b59b6;
    width: 45%;
    height: 35%;
    border-radius: 25px;
    border: 3px solid #9b59b6;
}

#right {
    float: right;
    width: 60%;
    height: 100%;
    background-color: #fff;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

#left {
    background-color: #9b59b6;
    height: 100%;
    width: 40%;
    float: left;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    color: #fff;
    font-size: 30px;
}

#login_form {
    padding-top: 10%;
    display: block;
}

#username {
    border-radius: 10px;
    height: 30px;
    width: 50%;
    border: 2px solid black;
    padding-left: 2%;

}
